## Task
### Given an integer, n

In [46]:
def py_if_else(n):
    if (n % 2) != 0:
        return("Weird")
        
    if (n % 2) == 0:
        if n < 5:
            return("Not Weird")
        elif (n > 5) & (n < 21):
            return("Weird")
        elif n > 20:
            return("Not Weird")

In [47]:
py_if_else(4)

'Not Weird'

In [23]:
import numpy as np

In [48]:
arr = np.array(range(100)) + 1
for i in arr:
    print(str(i) + " - " + py_if_else(i))

1 - Weird
2 - Not Weird
3 - Weird
4 - Not Weird
5 - Weird
6 - Weird
7 - Weird
8 - Weird
9 - Weird
10 - Weird
11 - Weird
12 - Weird
13 - Weird
14 - Weird
15 - Weird
16 - Weird
17 - Weird
18 - Weird
19 - Weird
20 - Weird
21 - Weird
22 - Not Weird
23 - Weird
24 - Not Weird
25 - Weird
26 - Not Weird
27 - Weird
28 - Not Weird
29 - Weird
30 - Not Weird
31 - Weird
32 - Not Weird
33 - Weird
34 - Not Weird
35 - Weird
36 - Not Weird
37 - Weird
38 - Not Weird
39 - Weird
40 - Not Weird
41 - Weird
42 - Not Weird
43 - Weird
44 - Not Weird
45 - Weird
46 - Not Weird
47 - Weird
48 - Not Weird
49 - Weird
50 - Not Weird
51 - Weird
52 - Not Weird
53 - Weird
54 - Not Weird
55 - Weird
56 - Not Weird
57 - Weird
58 - Not Weird
59 - Weird
60 - Not Weird
61 - Weird
62 - Not Weird
63 - Weird
64 - Not Weird
65 - Weird
66 - Not Weird
67 - Weird
68 - Not Weird
69 - Weird
70 - Not Weird
71 - Weird
72 - Not Weird
73 - Weird
74 - Not Weird
75 - Weird
76 - Not Weird
77 - Weird
78 - Not Weird
79 - Weird
80 - Not Weird
81 - Weird
82 - Not Weird
83 - Weird
84 - Not Weird
85 - Weird
86 - Not Weird
87 - Weird
88 - Not Weird
89 - Weird
90 - Not Weird
91 - Weird
92 - Not Weird
93 - Weird
94 - Not Weird
95 - Weird
96 - Not Weird
97 - Weird
98 - Not Weird
99 - Weird
100 - Not Weird

## Task
### is a leap year

In [78]:
def determine_leapyr(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return(True)
            else:
                return(False)
        else:
            return(True)
    if year % 4 != 0:
        return(False)

In [79]:
determine_leapyr(1800)

False

In [89]:
0 to 2

SyntaxError: invalid syntax (<ipython-input-89-4835dd79b3c0>, line 1)

In [92]:
output = ""
n = 4
iter = 1
while iter < (n + 1):
    output = output + str(iter)
    iter = iter + 1

output

'1234'

## List Comprehensions
### tasks all 3D combinations not equal to n

In [61]:
x = 1
y = 1
z = 2
n = 3

In [67]:
all_coords = [[i, j, k] for i in range((x+1)) for j in range((y+1)) for k in range((z+1))]

In [68]:
all_sums = list(map(lambda x: sum(x), all_coords))

In [69]:
ids = [i for i, x in enumerate(all_sums) if x != n]

In [70]:
[all_coords[i] for i in ids]

[[0, 0, 0],
 [0, 0, 1],
 [0, 0, 2],
 [0, 1, 0],
 [0, 1, 1],
 [1, 0, 0],
 [1, 0, 1],
 [1, 1, 0],
 [1, 1, 2]]

## Task - Find runner-up score
### given score sheet, find score of runner-up

In [76]:
n = 5
arr = list(map(int, "2 3 6 6 5".split()))

In [84]:
found_max = max(arr)
non_winners = [x for x in arr if x < found_max]
output_max = max(non_winners)
print(output_max)

5

## Task - nested scores

In [89]:
iters = [i for i in range(5*2) if (i % 2) == 0]

In [91]:
list(range(10))[0:10:2]

[0, 2, 4, 6, 8]

In [92]:
records = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41.0], ['Harsh', 39.0]]

In [106]:
top_score = min(list(map(lambda x: x[1],records)))
top_score

37.2

In [108]:
others = [x for x in records if x[1] > top_score]
others

[['Harry', 37.21], ['Berry', 37.21], ['Akriti', 41.0], ['Harsh', 39.0]]

In [109]:
next_score = min(list(map(lambda x: x[1], others)))
next_score

37.21

In [110]:
students = [x for x in others if x[1] == next_score]
students

[['Harry', 37.21], ['Berry', 37.21]]

In [115]:
nms = list(map(lambda x: x[0], students))
nms

['Harry', 'Berry']

In [119]:
sorted(nms)

['Berry', 'Harry']

### Task - finding the percentage

In [122]:
n = 3
student_marks = {
    'Krishna': [67, 68, 69],
    'Arjun': [70, 98, 63],
    'Malika': [52, 56, 60]
}
query_name = 'Malika'

In [131]:
ids = [i for i, x in enumerate(student_marks) if x == query_name][0]

In [141]:
arr = student_marks[query_name]
'{:.2f}'.format(sum(arr)/len(arr))

'56.00'

## Task -- Matrix Script

In [142]:
import math
import os
import random
import re
import sys

In [144]:
n = 7
m = 3
matrix = ['Tsi', 'h%x', 'i #', 'sM ', '$a ', '#t%', 'ir!']
matrix

['Tsi', 'h%x', 'i #', 'sM ', '$a ', '#t%', 'ir!']

In [151]:
flat_list = []
for i in range(len(matrix)):
    tmp = []
    for j in range(len(matrix[i])):
        tmp.append(matrix[i][j])
    flat_list.append(tmp)

In [152]:
output = ""
for i in range(m):
    for j in range(n):

[['T', 's', 'i'],
 ['h', '%', 'x'],
 ['i', ' ', '#'],
 ['s', 'M', ' '],
 ['$', 'a', ' '],
 ['#', 't', '%'],
 ['i', 'r', '!']]