## Task
### Given an integer, n

In [1]:
def py_if_else(n):
    if (n % 2) != 0:
        return("Weird")
        
    if (n % 2) == 0:
        if n < 5:
            return("Not Weird")
        elif (n > 5) & (n < 21):
            return("Weird")
        elif n > 20:
            return("Not Weird")

In [2]:
py_if_else(4)

'Not Weird'

In [3]:
import numpy as np

In [4]:
arr = np.array(range(100)) + 1
for i in arr:
    print(str(i) + " - " + py_if_else(i))

1 - Weird
2 - Not Weird
3 - Weird
4 - Not Weird
5 - Weird
6 - Weird
7 - Weird
8 - Weird
9 - Weird
10 - Weird
11 - Weird
12 - Weird
13 - Weird
14 - Weird
15 - Weird
16 - Weird
17 - Weird
18 - Weird
19 - Weird
20 - Weird
21 - Weird
22 - Not Weird
23 - Weird
24 - Not Weird
25 - Weird
26 - Not Weird
27 - Weird
28 - Not Weird
29 - Weird
30 - Not Weird
31 - Weird
32 - Not Weird
33 - Weird
34 - Not Weird
35 - Weird
36 - Not Weird
37 - Weird
38 - Not Weird
39 - Weird
40 - Not Weird
41 - Weird
42 - Not Weird
43 - Weird
44 - Not Weird
45 - Weird
46 - Not Weird
47 - Weird
48 - Not Weird
49 - Weird
50 - Not Weird
51 - Weird
52 - Not Weird
53 - Weird
54 - Not Weird
55 - Weird
56 - Not Weird
57 - Weird
58 - Not Weird
59 - Weird
60 - Not Weird
61 - Weird
62 - Not Weird
63 - Weird
64 - Not Weird
65 - Weird
66 - Not Weird
67 - Weird
68 - Not Weird
69 - Weird
70 - Not Weird
71 - Weird
72 - Not Weird
73 - Weird
74 - Not Weird
75 - Weird
76 - Not Weird
77 - Weird
78 - Not Weird
79 - Weird
80 - Not Weird
81 - Weird
82 - Not Weird
83 - Weird
84 - Not Weird
85 - Weird
86 - Not Weird
87 - Weird
88 - Not Weird
89 - Weird
90 - Not Weird
91 - Weird
92 - Not Weird
93 - Weird
94 - Not Weird
95 - Weird
96 - Not Weird
97 - Weird
98 - Not Weird
99 - Weird
100 - Not Weird

## Task
### is a leap year

In [5]:
def determine_leapyr(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return(True)
            else:
                return(False)
        else:
            return(True)
    if year % 4 != 0:
        return(False)

In [6]:
determine_leapyr(1800)

False

In [8]:
output = ""
n = 4
iter = 1
while iter < (n + 1):
    output = output + str(iter)
    iter = iter + 1

output

'1234'

## List Comprehensions
### tasks all 3D combinations not equal to n

In [ ]:
x = 1
y = 1
z = 2
n = 3

In [ ]:
all_coords = [[i, j, k] for i in range((x+1)) for j in range((y+1)) for k in range((z+1))]

In [ ]:
all_sums = list(map(lambda x: sum(x), all_coords))

In [ ]:
ids = [i for i, x in enumerate(all_sums) if x != n]

In [ ]:
[all_coords[i] for i in ids]

## Task - Find runner-up score
### given score sheet, find score of runner-up

In [ ]:
n = 5
arr = list(map(int, "2 3 6 6 5".split()))

In [ ]:
found_max = max(arr)
non_winners = [x for x in arr if x < found_max]
output_max = max(non_winners)
print(output_max)

## Task - nested scores

In [ ]:
iters = [i for i in range(5*2) if (i % 2) == 0]

In [ ]:
list(range(10))[0:10:2]

In [ ]:
records = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41.0], ['Harsh', 39.0]]

In [ ]:
top_score = min(list(map(lambda x: x[1],records)))
top_score

In [ ]:
others = [x for x in records if x[1] > top_score]
others

In [ ]:
next_score = min(list(map(lambda x: x[1], others)))
next_score

In [ ]:
students = [x for x in others if x[1] == next_score]
students

In [ ]:
nms = list(map(lambda x: x[0], students))
nms

In [ ]:
sorted(nms)

### Task - finding the percentage

In [ ]:
n = 3
student_marks = {
    'Krishna': [67, 68, 69],
    'Arjun': [70, 98, 63],
    'Malika': [52, 56, 60]
}
query_name = 'Malika'

In [ ]:
ids = [i for i, x in enumerate(student_marks) if x == query_name][0]

In [ ]:
arr = student_marks[query_name]
'{:.2f}'.format(sum(arr)/len(arr))

## Task -- Matrix Script

In [9]:
import math
import os
import random
import re
import sys

In [88]:
n = 2
m = 2
matrix = ['# ', ' @']
matrix

['# ', ' @']

In [89]:
matrix[1][1]

'@'

In [90]:
flat_list = []
for i in range(len(matrix)):
    tmp = []
    for j in range(len(matrix[i])):
        tmp.append(matrix[i][j])
    flat_list.append(tmp)

In [91]:
output = ""
for i in range(m):
    for j in range(n):
        output = output + matrix[j][i]

In [94]:
output

'#  @'

In [96]:
headstr = ""
alnum_check = False
tail_id = 0
while (alnum_check == False) & (tail_id < len(output)):
    headstr = headstr + output[tail_id]
    alnum_check = output[tail_id].isalnum()
    tail_id = tail_id + 1

In [97]:
headstr = headstr[:(len(headstr) - 1)]
headstr

'#  '

In [98]:
tailstr = ""
alnum_check = False
tail_id = len(output) - 1
while (alnum_check == False) & (tail_id > -1):
    tailstr = tailstr + output[tail_id]
    alnum_check = output[tail_id].isalnum()
    tail_id = tail_id - 1

In [99]:
tailstr = tailstr[::-1]
tailstr = tailstr[1:(len(tailstr))]
tailstr

'  @'

In [100]:
syms = ["!","@","#","$","%","&"]
syms

['!', '@', '#', '$', '%', '&']

In [101]:
for sym in syms:
    output = output.replace(sym," ").replace("  "," ")

In [104]:
output = output.strip()

In [105]:
output

''

In [106]:
finaloutput = headstr + output + tailstr
finaloutput = finaloutput.replace("  "," ")
finaloutput

'#  @'

## Task - Find a string

In [113]:
string = "ABCDCDC"
sub_string = "CDC"

In [139]:
l = len(sub_string) - 1
l

2

In [154]:
iters = list(range(len(string)))[(len(sub_string)-1):]
iters

[2, 3, 4, 5, 6]

In [155]:
count = 0
for i in iters:
    if string[(i-l):(i+1)] == sub_string:
        count = count + 1

In [156]:
i=3
string[(i-l-1):(i)]

'ABC'

In [157]:
count

2

## Task - String Validators

In [158]:
s = 'qA2'

In [162]:
s2 = [x for x in s]

In [167]:
max(list(map(lambda x: x.isalnum(), s2)))

True

In [181]:
test = [1,2]
test.insert(1,3)
test.remove(3)
test.pop()
test

[1]

In [205]:
student_set = set("1 2 3 4 5 6 7 8 9".split(" ")).difference(set("10 1 2 3 11 21 55 6 8".split(" ")))
student_set

{'4', '5', '7', '9'}

In [201]:
list(range(4))

[0, 1, 2, 3]

In [195]:
test = set()
test.union("1 2 3 4 5 6 7 8 9".split(" ")).union("10 1 2 3 11 21 55 6 8".split(" "))
len(test)

0

In [206]:
l = int("16")
a_set = set("1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52".split(" "))
n = int("4")

In [222]:
sum(list(map(lambda x: int(x), a_set)))

38

In [215]:
cmd = "difference_update 7".split(" ")
b_set = set("11 22 35 55 58 62 66".split(" "))
if cmd[0] == "update":
    a_set.update(b_set)
elif cmd[0] == "intersection_update":
    a_set.intersection_update(b_set)
elif cmd[0] == "difference_update":
    a_set.difference_update(b_set)
elif cmd[0] == "symmetric_difference_update":
    a_set.symmetric_difference_update(b_set)
else:
    print("unkown error")

In [292]:
group_size = 5
rm_list = "1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2".split(" ")
rm_set = set(rm_list)
#rm_set
max(rm_list)
rm_max = int(max(rm_list))
rm_list[0]
captains_rm = 0
rm_list_sorted = sorted(rm_list)
rm_set

{'1', '2', '3', '4', '5', '6', '8'}

In [302]:
found = False
working_list = rm_list_sorted
set_counter = 0
rm_setlist = sorted(list(rm_set))
working_list[:3]
rm_setlist

['1', '2', '3', '4', '5', '6', '8']

In [305]:
# while found == False:
#     num = rm_setlist[set_counter]
#     tmp = 0
#     list_counter = 0
#     search_stop = False
#     while search_stop == False:
#         if working_list[list_counter] == num:
#             tmp = tmp + 1
#         if tmp > 1:
#             while working_list[0] == num:
#                 working_list = working_list.remove(num)
#             search_stop = True
#         list_counter = list_counter + 1
#     set_counter = set_counter + 1

In [303]:
num = rm_setlist[set_counter]
tmp = 0
list_counter = 0
search_stop = False
working_list
list(rm_set)
captains_rm = 0

In [304]:
set_counter = 0
is_found = False
counter = 0
while is_found == False:
    num = rm_setlist[set_counter]
    tmp = 0
    while (tmp < 2) & (counter < len(rm_list)):
        #print(num)
        if int(rm_list_sorted[counter]) == (int(num)):
            tmp = tmp + 1
        counter = counter + 1
    if tmp == 1:
        captains_rm = (int(num))
        is_found = True
    set_counter = set_counter + 1
    
captains_rm

8